.row{
    margin-bottom: 0px;
}

.poster{
    background-color: grey;
    white-space: nowrap;
}

.poster > span {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.poster > img {
    display: inline-block;
    vertical-align: middle;
    padding: 10px;
}

.content-list{
    padding: 40px;
}